@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Переменные*/

:root {
    --gray-text-color: #828282;
    --black-text-color: #1E1E1E;
    --main-bg-color: #F9FAFE;
    --cards-bg-color: #FFFFFF;
    --cards-border-color: #EFF0F2;
    --first-btn-color: #0091DC;
    --del-btn-color: #F34949;
}

/*Обнуление стилей*/

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

body {
    background-color: var(--main-bg-color);
}

/*Начало*/

.content {
    padding: 20px 0px 0px 0px;
    max-width: 1600px;
    margin: 0 auto;

}

.content-container__title {
    text-align: center;
}

.content-container__title h1 {
    font-size: 26px;
    font-weight: 400;
}

.sidebar {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px;


}

.sidebar-container {
    margin: 30px 0px 0px 30px;
    background-color: var(--cards-bg-color);

    padding: 30px 35px;
    max-width: 400px;
    max-height: 200px;
    border: 1px solid var(--cards-border-color);
}



.sidebar-container h1 {
    font-weight: 500;
    color: var(--gray-text-color);
    font-size: 20px;
}
.checkboxes1 {

    margin: 20px 0px 0px 0px;

}

input[type=radio] {

    border: 0px;
    width: 30px;
    height: 30px;
}

.checkboxes1 p {
    margin-left: 20px;
}

.checkboxes1 li {
    color: var(--black-text-color);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.priority-mark-container {
    margin: 30px 0px 0px 30px;

    background-color: var(--cards-bg-color);
    padding: 30px 35px;
    max-width: 400px;
    max-height: 480px;

    border: 1px solid var(--cards-border-color);
}

.priority-mark-container h1 {
    font-weight: 500;
    color: var(--gray-text-color);
    font-size: 20px;

}

input[type=checkbox] {

    border: 0px;
    width: 30px;
    height: 30px;
}

.checkboxes2 p {
    margin-left: 20px;
}

.checkboxes2 li {
    color: var(--black-text-color);
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.priority-mark__title-Priority {
    margin: 10px 0px 0px 0px;
}

.priority-mark__title-Mark {
    margin: 50px 0px 20px 0px;
}



.btn-add-task button {


    margin: 30px;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--first-btn-color);
}

.btn-add-task p {
    color: var(--cards-bg-color);
    font-weight: 400;
    font-size: 16px;
}

.card-container {}

.card {
    margin: 30px;
    background-color: var(--cards-bg-color);

    padding: 30px 35px;
    max-width: 100%;
    border: 1px solid var(--cards-border-color);
}

.card h1 {
    color: var(--black-text-color);
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;

}

.card ul li {
    color: var(--gray-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    line-height: 2;
}